@import url(https://fonts.googleapis.com/css?family=Poppins:700,300);

html,body
{
    overflow-x: hidden;
}
/*************

NAV

**************/

.nav-container {
  background-color: #000;
  opacity: .7;
  position: fixed;
  width: 100vw;
  z-index: 11;
}

.site-nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 3vh;
}

#nav-menu-item-yui {
justify-content: flex-start;
}

.nav-link {
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
}

.nav-link:visited {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
  color: #fff;
}

#nav-link-yui:hover {
  color: #C4C4C4;
}

#nav-link-explore:hover {
  color: #00A7EE;
}

#nav-link-post:hover {
  color: #E14658;
}

#nav-link-login:hover {
  color: #FBF100;
}

.nav-link-img {
  height: 20px;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 100;
  -webkit-filter: invert(100%); filter: invert(100%);
}

#yui-nav-link-img {
  height: 20px;
  width: auto;
  z-index: 100;
}


/*************

YUI VIEW

**************/

.yui-view-container {
  background-color: #000;
  background-image: url("./images/cartographer.png");
}

.animation-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: url("./images/cartographer.png");
}

.dancing-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*@media only screen and (max-device-width:480px) {
  #Layer_1 {
    height: 50vh;
    width: auto;
  }
}*/

.block.animate {
  animation-name: wave;
}

.block:nth-child(4n+1) { -webkit-animation: wave 2s ease .0s infinite; animation: wave 2s ease .0s infinite; }
.block:nth-child(4n+2) { -webkit-animation: wave 2s ease .2s infinite; animation: wave 2s ease .2s infinite; }
.block:nth-child(4n+3) { -webkit-animation: wave 2s ease .4s infinite; animation: wave 2s ease .4s infinite; }
.block:nth-child(4n+4) { -webkit-animation: wave 2s ease .6s infinite; animation: wave 2s ease .6s infinite; margin-right: 0; }

@-webkit-keyframes wave {
  0%   { top: 0;     opacity: 1; }
  50%  { top: 30px;  opacity: .2; }
  100% { top: 0;     opacity: 1; }
}

@keyframes wave {
  0%   { top: 0;     opacity: 1; }
  50%  { top: 30px;  opacity: .2; }
  100% { top: 0;     opacity: 1; }
}

.dancing-container {
  z-index: 2;
}

.yui-welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.yui-welcome-box {
  height: 60vh;
  width: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  z-index: 3;
}

.yui-welcome-box img {
  height: 45vh;
  width: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  z-index: 3;
}

@media only screen and (max-device-width:480px) {
  #bad-crying-1 {
    height: 20vh;
    width: auto;
  }
}

@media only screen and (min-width:960px) {
  #bad-crying-1 {
    height: 60vh;
    width: auto;
  }
}

.yui-welcome-box h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60vh;
  letter-spacing: 1vw;
  font-weight: bold;
  color: #fff;
}

.yui-info-container-sm {
  display: flex;
  justify-content: center;
}

.yui-info-box-sm {
  height: 18vh;
  width: 45vw;
  margin-bottom: -20vh;
  margin-top: 2vh;
  margin-right: 27vw;
  display: flex;
  justify-content: center;
  z-index: 4;
}

.yui-info-box-text-sm {
  margin-top: 15vh;
  font-family: 'Poppins', sans-serif;
  font-size: 6vh;
  letter-spacing: 1vw;
  font-weight: 700;
  color: #fff;
}

.yui-info-container {
  display: flex;
  justify-content: center;
}

.yui-info-box {
  height: 50vh;
  width: 70vw;
  margin-bottom: 30vh;
  margin-right: -25vw;
  display: flex;
  justify-content: center;
  background-image: url("./images/smoke.jpeg");
  background-size: cover;
  z-index: 3;
}

.yui-info-box p {
  height: 40vh;
  width: 40vw;
  border: 5px #fff solid;
  margin: 4vh;
  margin-top: 5vh;
  margin-right: 1vh;
  margin-left: 28vw;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

@media only screen and (max-device-width:480px) {
  #sloth-text {
    font-size: 10px;
  }
}

.yui-border-container-a {
  display: flex;
  justify-content: center;
}

.yui-border-box-a {
  height: 5vh;
  width: 70vw;
  margin-right: -15vw;
  left: 10vw;
  display: flex;
  justify-content: center;
  background-image: url("./images/waterfall-1.jpeg");
  background-size: cover;
  margin-left: 20px;
  z-index: 3;
}

.yui-border-container-b {
  display: flex;
  justify-content: center;
}

.yui-border-box-b {
  height: 5vh;
  width: 70vw;
  margin: 5vh;
  margin-right: 15vw;
  left: 10vw;
  display: flex;
  justify-content: center;
  background-image: url("./images/waterfall-2.jpeg");
  background-size: cover;
  margin-left: 20px;
  z-index: 1;
}

.yui-border-container-c {
  display: flex;
  justify-content: center;
}

.yui-border-box-c {
  height: 5vh;
  width: 70vw;
  margin-right: -15vw;
  left: 10vw;
  display: flex;
  justify-content: center;
  background-image: url("./images/waterfall-3.jpeg");
  background-size: cover;
  margin-left: 20px;
  z-index: 3;
}

.yui-border-container-d {
  display: flex;
  justify-content: center;
}

.yui-border-box-d {
  height: 5vh;
  width: 70vw;
  margin: 5vh;
  margin-right: 15vw;
  left: 10vw;
  display: flex;
  justify-content: center;
  background-image: url("./images/waterfall-4.jpeg");
  background-size: cover;
  margin-left: 20px;
  z-index: 1;
}

.yui-border-container-e {
  display: flex;
  justify-content: center;
}

.yui-border-box-e {
  display: flex;
  justify-content: center;
}

.video {
  height: 50vh;
  width: 70vw;
  margin: 5vh;
  margin-right: 0vw;
  left: 10vw;
  margin-left: 20px;
  z-index: 3;
}

.yui-border-box-e-info {
  height: 50vh;
  width: 40vw;
  display: flex;
  justify-content: center;
}

.yui-border-box-e-info p {
  height: 50vh;
  width: 40vw;
  margin: 15vh;
  margin-left: -10vh;
  padding: 10vh;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}

@media only screen and (max-device-width:480px) {
  #bad-crying-text {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-left: 10vh;
  }
}

.yui-logo-hide-container {
  display: flex;
  justify-content: center;
}

.yui-logo-hide-box {
  height: 65vh;
  width: 75vw;
  margin-top: 5vh;
  margin-bottom: 15vh;
  background-image: url("./images/star-clouds.jpeg");
  background-size: cover;
  z-index: 1;
}

.yui-footer-container {
  display: flex;
  justify-content: center;
}

.yui-footer-box {
  height: 25vh;
  width: 75vw;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.yui-footer-box a {
  height: 10vh;
  width: 20vh;
  margin-bottom: 1vh;
  border: 3px solid #fff;
}

/*************

EXPLORE VIEW - PARALLAX HEADER

**************/

.featured-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("./images/blur-bw-girl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-image {
  height: 70vh;
  width: 35vw;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/35188833933094.56bd2a413eeaf.jpg");
  background-size: cover;
  border: 5px #000 solid;
}

.featured-text {
  height: 10vh;
  width: auto;
  position: absolute;
  top: 30vh;
  left: 15vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  z-index: 0;
}

.featured-work-link a{
  font-family: 'Poppins', sans-serif;
  border: 3px #fff solid;
  color: #fff;
  padding: 5px;
  cursor: crosshair;
}

.featured-work-link a:hover {
  text-decoration: none;
  color: #D4D4D4;
}

.featured-work-link-container {
  height: 10vh;
  width: auto;
  position: absolute;
  top: 55vh;
  left: 58vw;
}

/*************

EXPLORE VIEW

**************/

.image-flow-container {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
  z-index: 10;
}

.image-flow {
  height: 35vh;
  width: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.image-flow:hover {
  opacity: .4;
  cursor: crosshair;
  z-index: 10;
}

/*************

EXPLORE VIEW - MODAL - PARALLAX

**************/

.is-showing {
  opacity: 1;
  transform: translateX(0px);
  z-index: 10;
}


/*************

EXPLORE VIEW - MODAL

**************/

.modal-image-container {
  display: flex;
  justify-content: center;
}

#modal-image-title{
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

#modal-image-body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.modal-image {
  height: 35vh;
  margin: 0;
  padding: 0;
  margin-top: 5vh;
}

.modal-likes-container {
  display: flex;
  justify-content: center;
}

.modal-footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-footer-update {
height: 5vh;
}

.modal-footer-icons {
  height: 5vh;
  cursor: crosshair;
}

.modal-footer-icons:hover {
  -webkit-filter: invert(50%); filter: invert(50%);
}

/*try inverting then saturating*/


/*************

POST VIEW

**************/

.post-container {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/axiom-pattern.png");
  background-color: #fff;
}

.modal-post-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
}

#post-btn {
  position: relative;
  //display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

#post-btn {
  -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

#post-btn:before {
  position: absolute;
  content: "";
  /*background: url(http://f.cl.ly/items/3H3A0D1N281a2T280F3o/heist.svg) no-repeat center center;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#post-btn:after {
  content: "";
  position: absolute;
  background: #E14658;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#post-btn:hover {
  color: #fff;
  border: 0px #E14658 solid;
}

#post-btn:hover:before {
  opacity: .8;
}

#post-btn:hover:after {
  top: 0;
}

/*************

POST VIEW - MODAL

**************/

/*.post-container {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}*/

.post-btn {
  position: relative;
  //display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

#post-modal-btn{
  text-align:left;
  padding-left:17px;
}

#post-modal-btn:before{
  content:"→";
  position:absolute;
  color:#383736;
  left: 83%;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

#post-modal-btn:hover:before{
  left:84%;
  opacity:1;
}

#post-modal-btn:hover {
  width:170px;
}

.modal-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

legend {
  font-family: 'Poppins', sans-serif;
}

.modal-post-input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-post-input {
  text-align: center;
  box-sizing : border-box;
  width : 50%;
  margin : 1vh;
  padding : 5px 20px;
  border: 1px #000 solid;
  border-radius : 2px;
  font-family: 'Poppins', sans-serif;
}

.modal-post-input:hover {
  background-color: #E14658;
}

::-webkit-input-placeholder {
   color: #000;
}

.modal-post-button-container {
  display: flex;
  justify-content: center;
}

/*************

LOGIN VIEW

**************/

.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/axiom-pattern.png");
  background-color: #fff;
}

.modal-post-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
}

#login-btn {
  position: relative;
  //display:block;
  height: 45px;
  width: 175px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

#login-btn {
  -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

#login-btn:before {
  position: absolute;
  content: "";
  /*background: url(http://f.cl.ly/items/3H3A0D1N281a2T280F3o/heist.svg) no-repeat center center;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#login-btn:after {
  content: "";
  position: absolute;
  background: #FBF100;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#login-btn:hover {
  color: #22252C;
  border: 0px #FBF100 solid;
}

#login-btn:hover:before {
  opacity: .8;
}

#login-btn:hover:after {
  top: 0;
}


/*************

LOGIN VIEW - MODAL

**************/

.modal-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

legend {
  font-family: 'Poppins', sans-serif;
}

.modal-login-input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-login-input {
  text-align: center;
  box-sizing : border-box;
  width : 50%;
  margin : 1vh;
  padding : 5px 20px;
  border: 1px #000 solid;
  border-radius : 2px;
  font-family: 'Poppins', sans-serif;
}

.modal-login-input:hover {
  background-color: #FBF100;
}

::-webkit-input-placeholder {
   color: #555555;
}

.modal-post-button-container {
  display: flex;
  justify-content: center;
}







/*************

FIGURE THIS OUT 1 - MOVING LINES

**************/


body {
  background: #F4F5F9;
}

#global {
  width: 70px;
  position: absolute;
  height: 75px;
  top: 50%;
  left: 50%;
  margin-top: -37.5px;
  margin-left: -35px;
}
#global .mask {
  position: absolute;
  border-radius: 2px;
  overflow: hidden;
  perspective: 1000;
  backface-visibility: hidden;
}
#global .plane {
  background: #1D1F20;
  width: 400%;
  height: 100%;
  position: absolute;
  transform: translate3d(0px, 0, 0);
  z-index: 100;
  perspective: 1000;
  backface-visibility: hidden;
}
#global #top {
  width: 53px;
  height: 20px;
  left: 12px;
  transform: skew(-15deg, 0);
  z-index: 100;
}
#global #top .plane {
  z-index: 2000;
  animation: strip-top 1.3s ease-in infinite 0s backwards;
}
#global #middle-top {
  width: 33px;
  height: 20px;
  top: 15px;
  left: 12px;
  transform: skew(-15deg, 40deg);
}
#global #middle-top .plane {
  transform: translate3d(0px, 0, 0);
  background: #292c2d;
  animation: strip-middle-top 1.3s linear infinite 0.3s  backwards;
}
#global #middle-down {
  width: 43px;
  height: 19px;
  top: 43px;
  left: 2px;
  transform: skew(-12deg, -32deg);
}
#global #middle-down .plane {
  transform: translate3d(0px, 0, 0);
  background: #35393b;
  animation: strip-middle-bottom 1.3s linear infinite 0.7s  backwards;
}
#global #bottom {
  width: 53px;
  height: 20px;
  top: 55.5px;
  left: 2px;
  transform: skew(-15deg, 0);
}
#global #bottom .plane {
  z-index: 2000;
  animation: strip-bottom 1.3s ease-out infinite 0.95s backwards;
}

@keyframes strip-top {
  from {
    transform: translate3d(53px, 0, 0);
  }
  to {
    transform: translate3d(-250px, 0, 0);
  }
}
@keyframes strip-middle-top {
  from {
    transform: translate3d(-160px, 0, 0);
  }
  to {
    transform: translate3d(53px, 0, 0);
  }
}
@keyframes strip-middle-bottom {
  from {
    transform: translate3d(53px, 0, 0);
  }
  to {
    transform: translate3d(-220px, 0, 0);
  }
}
@keyframes strip-bottom {
  from {
    transform: translate3d(-220px, 0, 0);
  }
  to {
    transform: translate3d(53px, 0, 0);
  }
}

/*************

HEY YOU GUYS!

**************/

.directive-btn {
  background-color: transparent;
  border: transparent;
  color: transparent;
}

.directive-btn:hover {
  color: #00BAC6;
}

.directive-back-btn {
  background-color: transparent;
  border: transparent;
  color: transparent;
}

.directive-back-btn:hover {
  color: #00BAC6;
}
