<section ng-controller="loginCtrl" ng-controller="profileCtrl">
  <div class="container">
    <div class="modal-post-btn-container"><button type="button" id="login-btn" data-toggle="modal" data-target="#modal-1">LOGIN/REGISTER</button></div>
      <div class="modal fade" id="modal-1">
  			<div class="modal-dialog modal-lg">
  				<div class="modal-content">
  					 <div class="modal-header">
  					 	<button type="button" class="close" data-toggle="modal" data-target="#modal-1">&times;</button>
  					 	<h3 class="modal-title">Login/Register</h3>
  					 </div>
  					 <div class="modal-body">
               <form class="" action="index.html" method="post">
                 <fieldset>
                   <legend>Register</legend>
                   <div class="modal-login-input-container">
                    <input class="modal-login-input" type="text" ng-model="newUser.name" placeholder="name">
     							 	<input class="modal-login-input" type="text" ng-model="newUser.email" placeholder="email">
     							 	<input class="modal-login-input" type="password" ng-model="newUser.password" placeholder="password">
                   </div>
                   <div class="modal-login-input-container">
                     <button id="post-modal-btn" class="post-btn" type="button" ng-click="register()" data-toggle="modal" data-target="#modal-1">register</button>
                   </div>
                 </fieldset>
               </form>
               <form class="" action="index.html" method="post">
                 <fieldset>
                   <legend>Login</legend>
                   <div class="modal-login-input-container">
                     <input class="modal-login-input" type="text" ng-model="credentials.email" placeholder="email">
                     <input class="modal-login-input" type="password" ng-model="credentials.password" placeholder="password">
                   </div>
                   <div class="modal-login-input-container">
                     <button id="post-modal-btn" class="post-btn" type="button" ng-click="login()" data-toggle="modal" data-target="#modal-1">Login</button>
                   </div>
                 </fieldset>
               </form>
  					 </div>
  					 <div class="modal-footer">
							<div class="modal-login-input-container">
								<button id="post-modal-btn" class="post-btn" type="button" ng-click="logout()" data-toggle="modal" data-target="#modal-1">Logout</button>
							</div>
  					 </div>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>

  <!-- if broken do {{user}} -->
