<section>
  <div class="container">
    <div class="modal-post-btn-container"><button type="button" id="post-btn" data-toggle="modal" data-target="#modal-1">PUBLISH</button></div>
      <div class="modal fade" id="modal-1">
  			<div class="modal-dialog modal-lg">
  				<div class="modal-content">
  					 <div class="modal-header">
  					 	<button type="button" class="close" data-dismiss="modal">&times;</button>
  					 	<h3 class="modal-title">Share your designs</h3>
  					 </div>
  					 <div class="modal-body">
               <input type="text" placeholder="Image Url" ng-model="image.url">
               <input type="text" placeholder="Designer Name" ng-model="image.author">
               <input type="text" placeholder="Image Title" ng-model="image.title">
               <button id="post-modal-btn" type="button" ng-click="createImages(image)">Publish</button>
  					 </div>
  					 <div class="modal-footer">
  					 	<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
  					 	<a href="" class="btn btn-primary">Figure out later</a>
  					 </div>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>
