<header class="animation-container">
  <div class="dancing-container">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 width="235.333px" height="326.998px" viewBox="0 0 235.333 326.998" style="enable-background:new 0 0 235.333 326.998;"
    	 xml:space="preserve">
    <style type="text/css">
    <![CDATA[
    	.st0{fill:#488FCD;}
    	.st1{fill:#E14658;}
    	.st2{display:inline;fill:#F7EC20;}
    	.st3{fill:#F47D2B;}
    	.st4{fill:#F7EC20;}
    	.st5{display:inline;fill:#CC4458;}
    	.st6{display:inline;fill:#A83E97;}
    	.st7{display:none;}
    	.st8{fill:#A83E97;}
    	.st9{display:inline;fill:#488FCD;}
    	.st10{display:inline;fill:#E14658;}
    ]]>
    </style>
    <polygon class="block" style="fill: #F7EC20" points="234.308,247.693 234.3,79.196 156.324,1.218 156.324,79.196 156.329,79.196 156.292,325.665 "/>
    <polygon class="block" style="fill: #488FCD" points="1.639,107.895 1.639,77.924 1.639,61.677 1.639,1.218 79.614,77.924 79.614,107.895 "/>
    <polygon class="block" style="fill: #E14658" points="156.329,325.668 79.614,325.668 78.987,247.693 156.333,247.693 "/>
    <polygon class="block" style="fill: #E14658" points="234.308,185.87 79.614,185.87 1.639,107.895 156.324,107.895 "/>
    <polygon class="block" style="fill: #A83E97" points="79.614,185.87 1.639,107.895 79.614,107.895 "/>
    <polygon class="block" style="fill: #F7EC20" points="79.614,325.668 1.639,247.693 79.614,247.693 "/>
    <polygon class="block" style="fill: #A83E97" points="156.329,325.668 156.329,247.693 234.308,247.693 "/>
    <polygon class="block" style="fill: #F47D2B" points="156.329,107.885 234.3,185.87 156.329,185.87 "/>
    <g class="st7">
    	<polygon class="block" style="fill: #488FCD" points="-355.887,247.818 -355.887,229.883 -355.887,220.158 -355.887,183.971 -309.216,229.883
    		-309.216,247.818 	"/>
    	<polygon class="block" style="fill: #E14658" points="-273.309,378.166 -298.78,378.356 -309.59,331.494 -216.623,331.494 -226.923,342.122 	"/>
    	<polygon class="block" style="fill: #E14658" points="-216.623,294.49 -309.216,294.49 -355.887,247.818 -263.294,247.818 	"/>
    	<polygon class="block" style="fill: #A83E97" points="-309.216,294.49 -355.887,247.818 -309.216,247.818 	"/>
    	<polygon class="block" style="fill: #F7EC20" points="-298.78,378.356 -345.451,342.658 -345.451,331.687 -298.78,331.687 	"/>
    	<rect x="-273.495" y="294.49" class="block" style="fill: #F7EC20" width="46.672" height="37.004"/>
    	<polygon class="block" style="fill: #E14658" points="-355.887,183.971 -345.642,183.971 -298.779,229.883 -309.216,229.883 	"/>
    	<rect x="-309.216" y="229.883" class="block" style="fill: #F7EC20" width="10.437" height="64.607"/>
    	<polygon class="block" style="fill: #F7EC20" points="-273.309,247.818 -273.309,229.883 -273.309,220.158 -273.309,183.971 -226.639,229.883
    		-226.639,247.818 	"/>
    	<polygon class="block" style="fill: #E14658" points="-273.497,183.971 -263.252,183.971 -216.389,229.883 -226.826,229.883 	"/>
    	<polygon class="block" style="fill: #488FCD" points="-216.152,333.568 -226.923,342.122 -226.587,229.883 -216.152,229.883 	"/>
    	<polygon class="block" style="fill: #F7EC20" points="-226.587,284.158 -273.495,247.818 -226.823,247.818 	"/>
    	<rect x="-298.779" y="284.158" class="block" style="fill: #CC4458" width="72.192" height="10.438"/>
    	<polygon class="block" style="fill: #A83E97" points="-226.823,331.496 -273.495,367.921 -273.495,331.496 	"/>
    	<rect x="-298.78" y="367.921" class="block" style="fill: #488FCD" width="25.285" height="10.436"/>
    	<polygon class="block" style="fill: #E14658" points="-345.451,331.687 -298.779,368.111 -298.779,331.687 	"/>
    	<rect x="-298.779" y="331.687" class="block" style="fill: #E14658" width="25.47" height="36.234"/>
    </g>
    <rect x="156.208" y="185.748" class="block" style="fill: #F7EC20" width="78" height="61.875"/>
    </svg>
  </div>
</header>





<section>
  <div class="yui-what-is-container">
    <div class="yui-what-is"></div>
  </div>
</section>
<section>
  <div class="yui-info">
    <div class="item" id="yui-about"></div>
    <div class="item" id="yui-contact"></div>
  </div>
</section>
<section>
  <div class="">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum nunc, blandit a congue vel, condimentum eget massa. Curabitur mauris purus, suscipit eget arcu non, euismod ornare neque. Pellentesque porttitor tincidunt sollicitudin. Donec ultricies magna ut iaculis pretium. Maecenas volutpat blandit nisi vitae bibendum. Nunc lobortis nisi et imperdiet suscipit. Pellentesque non nisl vel orci porta commodo in id nibh.

Sed sed massa egestas, faucibus magna non, maximus lectus. Cras sagittis metus at leo sodales, in molestie nisi euismod. Sed venenatis, nisi non bibendum lacinia, magna nulla condimentum odio, nec laoreet ante sapien a neque. Aliquam mattis aliquet semper. Cras egestas velit libero, vel sagittis sapien venenatis vel. Pellentesque ac augue ipsum. Nulla molestie sed enim ut porta. Sed viverra leo ornare, ullamcorper ex vel, malesuada lacus. Sed arcu tortor, tincidunt quis nulla nec, varius viverra quam. Mauris ultrices massa at sem egestas, in lacinia lacus maximus. Vestibulum quis fermentum quam, ut lobortis augue.

Donec sit amet cursus eros. Aenean sagittis lectus vel orci condimentum, ac bibendum justo pulvinar. Ut consectetur, nunc eu maximus convallis, metus magna eleifend tortor, in condimentum magna massa eget ex. Integer sit amet velit elit. Nulla ut consequat dui. In vel nisl quis nisi suscipit finibus. Donec dignissim mattis mi a eleifend. Integer sagittis lectus neque, in condimentum ex ultricies nec.

Phasellus accumsan urna massa, id vehicula mi viverra vel. Ut quis gravida mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas condimentum feugiat quam, non tincidunt sapien efficitur at. Ut suscipit vehicula nisi. Integer a consectetur nunc. Mauris posuere ante libero, eu tristique nibh imperdiet pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam feugiat metus sit amet imperdiet mollis. Nulla ut auctor nisl, nec finibus nulla. Phasellus eu ante fringilla, scelerisque erat et, ultrices ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Donec quis neque sapien. Nulla facilisi. Nam in eros ut risus venenatis posuere. Nulla euismod diam risus, sed rutrum velit commodo vel. Vestibulum dignissim eros vel augue aliquam semper. Donec elementum tellus sit amet libero viverra semper. Integer rhoncus accumsan diam sed congue. Donec turpis dolor, vestibulum ut auctor non, egestas in felis. Donec quam ex, interdum et ipsum non, vulputate consectetur diam.

Praesent maximus tempor vehicula. Phasellus efficitur massa eget eleifend dictum. Aenean eu metus neque. Curabitur rutrum posuere purus at vestibulum. Nullam a eros a odio posuere pulvinar id eget dui. Aliquam eget lacus sit amet nunc ultricies condimentum ac sed tortor. Aliquam iaculis, nisi nec dapibus faucibus, lorem erat scelerisque augue, et lobortis diam turpis id libero. Phasellus semper libero id tortor tincidunt, vel gravida mi blandit. Ut imperdiet odio vel odio pretium, ac tincidunt felis molestie. Pellentesque fringilla nec nulla ultrices mattis. Etiam sem enim, blandit nec leo ac, fermentum bibendum purus. Pellentesque tempor tristique tellus, ac scelerisque lacus venenatis vitae.

Quisque porta ullamcorper vestibulum. Cras gravida tincidunt lacus, convallis iaculis nunc tristique eget. Vestibulum dapibus facilisis enim, quis vulputate ligula egestas in. Sed diam mi, congue non lectus ac, scelerisque laoreet lacus. Cras volutpat convallis enim, ut elementum eros efficitur vel. Donec eget aliquam enim, eu commodo ligula. Integer cursus viverra porttitor. Mauris volutpat nunc nec euismod mattis. Maecenas gravida nulla at sem eleifend dictum. Maecenas neque sapien, sodales eget fringilla et, efficitur et tortor. Nullam id eros metus.

Pellentesque ut dapibus mauris. Suspendisse varius, lorem at aliquam hendrerit, diam ante ultrices justo, id varius velit mi vel ipsum. Aliquam consectetur, lorem vitae tristique vehicula, nisi magna blandit libero, quis ornare tellus urna vitae magna. Nullam nisl nibh, aliquet a nulla nec, mollis consequat lectus. Pellentesque tincidunt quam in risus ullamcorper iaculis. Sed molestie metus non elit rutrum pulvinar. Ut iaculis suscipit orci vel gravida.

Nunc vel nulla lobortis, elementum dolor id, laoreet nisi. Pellentesque tincidunt mauris quis risus mollis, eu consequat orci auctor. Aliquam vulputate nisi at justo pellentesque aliquam. Praesent mollis tincidunt lectus et mollis. Ut lobortis tortor mi, eu pellentesque erat aliquet a. Nullam condimentum tristique magna vel faucibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sodales in dolor eu vehicula. Maecenas blandit lorem varius nisi pulvinar sollicitudin. Curabitur molestie sed purus pharetra pellentesque. Duis quis gravida diam. Curabitur tristique sit amet magna eget vestibulum.

Nullam nulla arcu, bibendum ut malesuada sit amet, varius sed mauris. Sed ullamcorper lectus a odio laoreet sollicitudin. Etiam metus eros, interdum ac bibendum ut, volutpat a libero. Proin aliquet dolor id lorem faucibus iaculis. Duis dictum mollis leo. Pellentesque convallis laoreet pretium. Aenean dapibus hendrerit metus et pretium. Praesent et nisl sagittis nunc feugiat consequat quis quis ipsum. In mollis est a ante facilisis mollis.


    </p>
  </div>
</section>

























<!-- What is Yui?
<div id='global'>
  <div class='mask' id='top'>
    <div class='plane'></div>
  </div>
  <div class='mask' id='middle-top'>
    <div class='plane'></div>
  </div>
  <div class='mask' id='middle-down'>
    <div class='plane'></div>
  </div>
  <div class='mask' id='bottom'>
    <div class='plane'></div>
  </div> -->
  <!-- DANCING BLOCK
  <div class="dancing-container">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
  </div>
</div> -->
<!-- Squiggly Circle
<div class="svg-container">
  <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 512 512" preserveAspectRatio="xMinYMin meet">
    <path class="symbol" d="M256.2 2.9c36.8 0 52.4 23.9 77.2 32 24.8 8.1 41.8-5.2 71.6 16.4 29.8 21.6 28.3
    50.1 43.7 71.2 15.3 21.1 36.9 20.4 48.2 55.4 11.4 35-6.5 57.2-6.5 83.3 0 26.1 17.9 38.1 6.5
    73.1-11.4 35-38.9 42.4-54.2 63.5-15.3 21.1-8 41.3-37.7 63-29.8 21.6-56.4 11.5-81.2 19.5-24.8 8.1-30.8
    28.8-67.6 28.8s-52.4-23.9-77.2-32c-24.8-8.1-41.8 5.2-71.6-16.4C77.5 439 79 410.5 63.6 389.4S26.7 369
    15.4 334c-11.4-35 6.5-57.2 6.5-83.3 0-26.1-17.9-38.1-6.5-73.1 11.4-35 38.9-42.4 54.2-63.5 15.3-21.1 8-41.4
    37.7-63s56.4-11.5 81.2-19.5c24.9-8 30.9-28.7 67.7-28.7z"/>

  </svg>
</div>

Show User
<div class="practice">
  {{user.name}}
</div> -->
